@media screen and (max-width: 1200px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 23px;
  }
  .nav-left {
    flex-direction: column;
    text-align: center;
  }
  #my-container{
    margin-top: -30%;
  }

  #mob-line{
    display: none;
  }

  #contact-content{
      margin-top:40%;
  }
  
  #content-word{
    height:60vh;
  }
  
  .content-img {
    width:100vw;
    text-align:center;
    height:auto;
  }
  
  #mob-line{
    margin-top:-20%;
  }
  .form-input {
    width: 50%;
  }
  .form-box input,
  textarea {
    width: 66vw;
  }
  .row {
    flex-direction: column;
  }

}
